@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100;200;500;800&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Roboto Flex', sans-serif;
    cursor: default;
}

:root{
    --main-bg-cover: rgba(198, 87, 170, 0.3);
    --box-shadow-color: rgba(198, 87, 170, 0.5);
    --invert-bg: rgba(0, 0, 0, 0.05);
    --hover-color: rgb(227, 157, 206);
    --text-color: rgb(179, 135, 167);
    --hover: rgba(255, 255, 255, 0.8);
    --hr-color: rgba(198,87,170,1)
}

a, h1, h2, h3, h4{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.pointer{
    cursor: pointer;
}

body a, body a:hover, body a:active, body a:visited{
    text-decoration: none;
}

::-webkit-scrollbar{
    width: 10px;
} 
::-webkit-scrollbar-thumb{
    background: var(--main-bg-cover);
}
::-webkit-scrollbar-thumb:hover{
    background: var(--box-shadow-color);
}

/* HEADER */

#header{
    background: linear-gradient(180deg, rgba(198,87,170,0.3) 0%, rgba(198,87,170,0.1) 100%);
    background-size:cover;
    height: 500px;
    box-shadow: var(--box-shadow-color) 0px 2px 30px;
    position: relative;
    color: white;
}

.dark{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#carousel{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -900;
}

.headerCarousel{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -900;
}

.hero_img{
    object-fit: cover;
    height: 500px;
}

#header nav{
    float: left;
    margin: 25px 0 0 0;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    z-index: 1;
}

#header #logo{
    float: left;
    margin: -10px 0 0 50px;
    height: 50px;
}

#header nav a{
    float: right;
    margin-right: 40px;
    margin-top: 5px;
    font-weight: 200;
    font-size: 14px;
    color: white;
    text-decoration: none;
}

#header nav a:hover{
    color: var(--hover-color);
}

.slogen{
    text-align: center;
    padding-top: 180px;
    z-index: 1;
    position: relative;
    top: 35%;
}

#header h1{
    font-size: 50px;
    font-weight: 100;
    letter-spacing: 0.1em;
}

.slogen hr{
    width: 60%;
    margin: 0 auto 10px auto;
    background-color: white;
    height: 4px;
}


/*HEADER MOBILE WITH HAMBURGER MENU*/
#headerMobile{
    background: linear-gradient(180deg, rgba(198,87,170,0.3) 0%, rgba(198,87,170,0.1) 100%);
    background-size:cover;
    height: 500px;
    box-shadow: var(--box-shadow-color) 0px 2px 30px;
    position: relative;
    color: white;
    display: none;
}

#headerMobile nav{
    float: left;
    margin: 25px 0 0 0;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    z-index: 1;
}

#logoMobile{
    width: 150px;
    float: left;
    margin: -10px 0 0 40px;
    height: 50px;
}

#headerMobile i{
    float: right;
    color: white;
    margin: 5px 25px 0 0;
    z-index: 200;
    font-size: 20px;
}

#headerMobile i:hover{
    color: var(--text-color);
    cursor: pointer;
}

#hamburgerMenu{
    position: absolute;
    width: 100%;
    z-index: 100;
    margin-top: 50px;
}

.hidden{
    display: none;
}

#hamburgerMenu a{
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    color: white;
    padding: 10px;
    text-decoration: none;
}

#hamburgerMenu a:hover{
    color: var(--text-color);
}


/* HEADER MOBILE */


@media screen and (max-width: 970px){
    #header{
        display: none;
    }
    #headerMobile{
        display: block;
    }
    #header h1{
        font-size: 45px;
    }
    .slogen{
        position: relative;
        top: 40%;
    }
    .slogen hr{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .kicker{
        font-size: 16px;
    }
}

@media screen and (max-width: 530px){
    #header h1{
        font-size: 40px;
    }
    .kicker{
        font-size: 14px;
    }
}

/*ABOUT*/

#aboutMe{
    background-color: var(--invert-bg);
    margin: auto;
    max-width: 100%;
    text-align: center;
    padding-top: 35px;
}

#aboutMeContainer{
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

#aboutTitle{
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: var(--text-color);
    font-weight: 500;
    text-align: center;
    font-size: 28px;
}

#aboutMe hr{
    max-width: 800px;
    height: 3px;
    margin: 10px auto 20px auto;
    color: var(--hr-color);
    background-color: var(--hr-color);
    border: 0;
}

#aboutImg{
    width: 200px;
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: auto;
    border: 5px solid white;
}

#aboutMe p{
    font-weight: 200;
    margin-top: 40px;
    color: var(--text-color);
    font-size: 18px;
    text-align: justify;
}

@media screen and (max-width:600px){
    #aboutMe img{
        width: 150px;
    }

    #aboutMe hr{
        width: 70%;
    }
}

/* BOWEN */
.bowenContainer{
    color: var(--text-color);
    width: 100vw;
    display: flex;
    background-color: var(--invert-bg);
    overflow: hidden;
}
  
.bowenImgContainer{
    width: 30%;
    box-sizing: border-box;
}
  
.bowenDescContainer{
    width: 70%;
    box-sizing: border-box;
    padding: 20px;
    text-align: justify;
    overflow: hidden;
}
  
.bowenImg{
    height: 100%;
    width: 100%;
    object-fit: cover;
    -webkit-mask-image: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 1) 95%, transparent 100%);
    mask-image: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 1) 95%, transparent 100%);
}
  
.bowenContainer2{
    color: var(--text-color);
    height: 500px;
    width: 100%;
    display: flex;
    background-color: var(--invert-bg);
}

.bowenImgContainer2{
    width: 30%;
    float: right;
    height: 500px;
}

.bowenDescContainer2{
    width: 70%;
    float: right;
    height: 500px;
    padding: 20px;
    text-align: left;
}

#bowenList{
    list-style: default;
}

@media screen and (max-width: 600px){
    .bowenContainer{
        height: 400px;
    }
    .bowenContainer2{
        height: 500px;
    }
    .bowenDescContainer span, .bowenDescContainer{
        font-size: 10px;
        text-align: left;
    }
    .bowenDescContainer2 span{
        font-size: 10px;
        text-align: left;
    }
}

@media screen and (max-width: 420px){
    .bowenContainer2{
        height: 600px;
    }
}

@media screen and (max-width: 350px){
    .bowenContainer{
        height: 300px;
    }
    .bowenContainer2{
        height: 450px;
    }

    .bowenDescContainer{
        width: 100%;
    }
    .bowenDescContainer2{
        width: 100%;
    }

    .bowenImgContainer{
        display: none;
    }
    .bowenImgContainer2{
        display:none;
    }
}

#youtubeContainer{
    margin: 0 auto 50px auto;
    width: 500px;
}

#youtubeContainer p{
    text-transform: uppercase;
    text-align: center;
    color: white;
}

.youtube-player{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: var(--invert-bg);
    margin: 5px;
}

.youtube-player iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
}

.youtube-player img{
    object-fit: cover;
    display: block;
    left: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: 0.4s all;
    -moz-transition: 0.4s all;
    transition: 0.4s all;
}

.youtube-player .play {
    height: 48px;
    width: 68px;
    left: 50%;
    top: 50%;
    margin-left: -34px;
    margin-top: -24px;
    position: absolute;
    background: url('https://i.ibb.co/j3jcJKv/yt.png') no-repeat;
    cursor: pointer;
}

/*BOWEN MOBILE*/

@media screen and (max-width:750px){

    #bowenContain{
        margin: 0;
    }

    #bowenContain table tr td{
        border: 5px solid rgba(255, 255, 255, 0);
        padding: 10px 0;
    }

    #bowenContain h3{
        margin-top: 20px;
        text-align: center;
    }

    #bowenContain img{
        display: none;
    }
}

/* BOWEN */
#bowen{
    background: linear-gradient(0deg, var(--hover-color) 0%, var(--text-color) 100%);
    box-shadow: var(--box-shadow-color) 2px 2px 30px;
    padding: 50px 0 50px 0;
}

/*TESTIMONIAL*/

#testimonials{
    background-color: var(--invert-bg);
    margin: auto;
    padding: 30px 0;
    color: white;
    text-align: center;
}

#testimonials h3, #testimonials h2, #testimonials p{
    margin: 0;
    padding: 0;
}

#testimonials h2{
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: var(--text-color);
    font-weight: 200;
    margin-bottom: 10px;
    font-size: 26px;
}

#testimonials hr{
    max-width: 500px;
    height: 3px;
    margin: 10px auto 20px auto;
    color: var(--hr-color);
    background-color: var(--hr-color);
    border: 0;
}

#testimonials .clients{
    background: linear-gradient(0deg, var(--text-color) 0%, var(--hover-color) 100%);
    height: 350px;
    width: 500px;
    padding: 40px 20px;
    margin: auto;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#testimonials .carousel-item{
    height: 400px;
    width: 100%;
}

#testimonials i{
    cursor: pointer;
}

#testimonials h3{
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 10px;
}

.clients p{
    font-weight: 200;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: justify;
}

.quotation{
    height: 20px;
    width: auto;
    float: left;
    opacity: 0.3;
    position: relative;
    left: -10px;
}

.quotation2{
    height: 20px;
    width: auto;
    float: right;
    rotate: 180deg;
    opacity: 0.3;
    position: relative;
    top: -15px;
}

@media screen and (max-width:700px){
    #testimonials .clients{
        position: absolute;
        left: 0;
        right: 0;
        width: 70%;
        height: 550px;
    }

    #testimonials .carousel-item{
        height: 600px;
    }

    #testimonials hr{
        width: 70%;
    }
}

@media screen and (max-width:500px){
    #testimonials .clients{
        position: absolute;
        left: 0;
        right: 0;
        width: 90%;
        height: 550px;
    }

    #testimonials hr{
        width: 90%;
    }

    #testimonials .carousel-control-prev, #testimonials .carousel-control-next{
        display: none;
    }

    #testimonials .carousel-item{
        height: 600px;
    }
}

/* PRICES */
#prices{
    width: 100%;
    padding: 50px 0;
    background: linear-gradient(0deg, var(--hover-color) 0%, var(--text-color) 100%);
    box-shadow: var(--box-shadow-color) 2px 2px 30px;
}

#prices h2{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: white;
    font-weight: 200;
    font-size: 28px;
}

#prices hr{
    max-width: 900px;
    border: none;
    margin: 0 auto 10px auto;
    background-color: white;
    height: 3px;
}

#services{
    border-collapse: collapse;
    margin: 30px auto 0 auto;
    width: 900px;
    background-color: rgba(255, 255, 255, 0.5);
}

#services td{
    height: 30px;
    font-weight: 500;
    font-size: 16px;
}

#services tr:nth-child(odd){
    background-color: rgba(198, 87, 170, 0.1);
    color: white;
}

#services tr:nth-child(even){
    background-color: var(--hover);
    color: var(--box-shadow-color);
}

#services tr td:nth-child(odd){
    text-transform: uppercase;
    padding: 5px 0 5px 15px;
}

#services tr td:nth-child(even){
    text-align: right;
    padding-right: 10px;
}

@media screen and (max-width:930px){
    #services{
        width: 800px;
    }

    #prices hr{
        max-width: 60%;
    }
}

@media screen and (max-width:800px){
    #services{
        width: 600px;
    }
}

@media screen and (max-width:600px){
    #services{
        width: 400px;
    }

    #services td{
        font-size: 14px;
    }
}

@media screen and (max-width:400px){

    #prices h2{
        font-size: 20px;
    }

    #services{
        width: 300px;
    }
}

/* CONTACT */
#contact{
    background-color: var(--invert-bg);
    width: 100%;
    padding: 50px 0 50px 0;
    color: var(--text-color);
}

#contact table{
    margin: auto;
}

#contact h2, #contact h3, #contact p{
    margin: 0;
    padding: 0;
}

#get_in_touch{
    text-align: justify;
    background-color: white;
    padding: 55px;
    display: inline-block;
}

#get_in_touch h2{
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: var(--text-color);
    font-weight: 200;
    margin-bottom: 10px;
    font-size: 28px;
}

#contact_card{
    color: white;
    background: linear-gradient(0deg, var(--text-color) 0%, var(--hover-color) 100%);
    background-size: cover;
    width: 300px;
    padding: 20px 10px;
    position: relative;
    right: 10px;
}

#contact-card table{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    font-size: 20px;
    vertical-align: center;
    margin-right: 10px;
}

#contact_card h3{
    font-weight: 500;
    letter-spacing: 0.08em;
    font-size: 18px;
    text-align: center;
}

#contact_card hr{
    margin: 5px 0;
}

#contact_card p{
    font-size: 15px;
    margin: 5px 0;
    letter-spacing: 0.1em;
}

@media screen and (max-width:790px){
    #contact{
        padding: 25px 0;
    }

    #get_in_touch{
        display: block;
        width: 280px;
        padding: 20px;
        font-weight: 200;
    }

    #contact_card{
        display: block;
        top: 0;
        left: 0;
        width: 280px;
        padding: 20px;
        font-size: 13px;
        font-weight: 100;
    }
}

/* FOOTER */

.footer{
    background: linear-gradient(0deg, var(--hover-color) 0%, var(--text-color) 100%);
    box-shadow: var(--box-shadow-color) 2px 0px 30px;
    max-width: 100%;
    height: 50px;
    padding: 15px 0;
    text-align: center;
}

.footer a{
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
    color:white;
    text-decoration: none;
    cursor: pointer;
}

.footer a:hover{
    color: var(--hover);
}

.footer p{
    color: var(--hover);
    font-weight: 200;
    font-size: 14px;
}

@media screen and (max-width: 350px){
    .footer p{
        font-size: 10px;
    }
}