@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;700&display=swap');

html, body{
    font-family:'Montserrat', sans-serif;
    margin:0;
    padding: 0;
    scroll-behavior: smooth;
}

a, h1, h2, h3, h4{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    width: 10px;
} 
::-webkit-scrollbar-thumb{
    background: rgba(198,87,170,0.5);
}
::-webkit-scrollbar-thumb:hover{
    background: rgba(198, 87, 170, 0.8);
}

/* HEADER */

#header{
    background: linear-gradient(180deg, rgba(198,87,170,0.5) 0%, rgba(198,87,170,0.2) 50%, rgba(198,87,170,0.1) 100%);
    background-size:cover;
    height: 100vh;
    max-width: 100%;
    box-shadow: rgba(198, 87, 170, 0.8) 0px 2px 30px;
    position: relative;
    color: white;
}

#dark{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#hero_img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
    object-fit: cover;
}

#header nav{
    float: left;
    margin: 25px 30px 0 0px;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#header #logo{
    float: left;
    margin: -10px 0px 0 20px;
    height: 40px;
    width: 40px;
}

#header nav a{
    display: inline-block;
    margin-left: 20px;
    font-weight: 700;
    font-size: 14px;
    color: white;
}

#header nav a:hover{
    color: rgb(235, 139, 182);
}

#slogen{
    position: relative;
    top: 40%;
    text-align: center;
}

#header h1{
    font-size: 72px;
    font-weight: 200;
    letter-spacing: 0.1em;
}

#header hr{
    width: 60%;
    margin: 0 auto 10px auto;
    background-color: white;
}

#location{
    font-weight: 400;
    margin: 0 0 40px 0;
    letter-spacing: 0.2em;
    font-size: 24px;
}

#kicker{
    font-weight: 400;
    letter-spacing: 0.1em;
    font-size: 20px;
}

/* HEADER MOBILE */

@media screen and (max-width: 743.5px){
    #slogen{
        top: 30%;
    }
}

@media screen and (max-width: 650px){

    #slogen{
        top:35%
    }

    #header h1{
        font-size: 45px;
    }
}

@media screen and (max-width: 530px){
    #header h1{
        font-size: 40px;
    }
    #location{
        font-size: 16px;
    }
    #kicker{
        font-size: 16px;
    }
}

/* ABOUT */

#about_me{
    background-color: rgba(0, 0, 0, 0.1);
}

#about_contain{
    max-width: 900px;
    margin: auto;
    padding: 50px 50px;
}

#about_me table{
    padding: 10px;
    max-width: 900px;
    font-weight: 400;
    align-content: center;
    color: rgb(194, 114, 150);
}

#about_img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-right: 55px;
    margin-top: 20px;
}

#name{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-top: 10px;
    margin-right: 60px;
    font-weight: 400;
    font-size: 20px;
}

#about_me p{
    font-size: 20px;
}

#about_title{
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-weight: 700;
    font-size: 28px;
}

/*ABOUT MOBILE*/

#about_me_mobile{
    background-color: rgba(0, 0, 0, 0.1);
    margin: auto;
    padding: 50px;
    text-align: center;
    display: none;
    max-width: 100%;
}

#about_title_mobile{
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: rgb(194, 114, 150);
    font-weight: 700;
    margin-bottom: 40px;
}

#about_img_mobile{
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: auto;
}

#name_mobile{
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: rgb(194, 114, 150);
    font-weight: 400;
    font-size: 20px;
    margin-top: 20px;
}

#about_me_mobile p{
    font-weight: 400;
    margin-top: 40px;
    color: rgb(194, 114, 150);
    font-size: 20px;
}

@media screen and (max-width: 750px){
    #about_me{
        display: none;
    }

    #about_me_mobile{
        display: block;
    }
}

/* BOWEN */
#bowen{
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(198, 87, 170, 0.5), rgba(198, 87, 170, 0.5)),url(img/footer.AVIF);
    background-repeat: no-repeat;
    background-size: cover, cover;
    box-shadow: rgba(198, 87, 170, 0.8) 2px 2px 30px;
    padding: 50px 0 50px 0;
}

#bowen h2{
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 28px;
}

#bowen hr{
    width: 50%;
    color: white;
    background-color: white;
    margin-bottom: 40px;
}

.description{
    margin: auto;
    width: 700px;
    height: 300px;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.8);
}

.description .float_left{
    height: 300px;
    width: auto;
    float: left;
    opacity: 0.9;
}

.description .float_right{
    height: 300px;
    width: auto;
    float:right;
    opacity: 0.9;
}

.text_left{
    width: 660px;
}

.text_right{
    width: 360px;
}

.description h3{
    color: rgb(194, 114, 150);
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    font-size: 24px;
    top: 10px;
    left: 20px;
    margin: 0;
    letter-spacing: 4px;
}

.description p{
    color: rgb(194, 114, 150);
    margin: 0;
    position: relative;
    top: 20px;
    left: 20px;
    font-weight: 400;
    text-align: justify;
}

/*BOWEN MOBILE*/

@media screen and (max-width:750px){
    .description{
        width: 300px;
        height: 600px;
    }

    .description .float_left{
        float: none;
        display: block;
        margin: auto;
        height: normal;
        width: 100%;
    }

    .description .float_right{
        float: none;
        display: block;
        margin: auto;
        height: normal;
        width: 100%;
    }

    .description h3{
        font-size: 26px;
    }

    .text_left, .text_right{
        width: 265px;
        font-size: 14px;
    }
}

/*TESTIMONIAL*/

#testimonials{
    background-color: rgba(0, 0, 0, 0.1);
    margin: auto;
    padding: 50px 0;
    color: white;
    text-align: center;
}

#testimonials h3, #testimonials h2, #testimonials p{
    margin: 0;
    padding: 0;
}

#testimonials h2{
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: rgb(194, 114, 150);
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 28px;
}

#testimonials hr{
    width: 40%;
    height: 2px;
    margin: 0 auto 10px auto;
    color: rgba(198, 87, 170, 0.5);
    background-color: rgba(198, 87, 170, 0.5);
    border: 0;
}

#testimonials .clients{
    background-image: linear-gradient(to bottom, rgba(198, 87, 170, 0.5), rgba(198, 87, 170, 0.5)), url(img/footer.AVIF);
    display: inline-block;
    width: 300px;
    height: 250px;
    margin: 30px 5px 10px 5px;
    padding: 50px 25px 25px 25px;
}

.clients_contain{
    align-self: center;
}

#testimonials h3{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 24px;
    margin-bottom: 10px;
}

.clients p{
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
}

.quotation{
    height: 20px;
    width: auto;
    float: left;
    opacity: 0.3;
    position: relative;
    left: 25px;
    top: -5px;
}

.quotation2{
    height: 20px;
    width: auto;
    float: right;
    rotate: 180deg;
    opacity: 0.3;
    position: relative;
    top: -15px;
    left: -25px;
}

@media screen and (max-width: 1100px){
    #testimonials .clients{
        display:block;
        margin: auto;
        margin-top: 30px;
    }
}

/* PRICES */
#prices{
    width: 100%;
    padding: 50px 0;
    background-image: linear-gradient(to bottom, rgba(198, 87, 170, 0.5), rgba(198, 87, 170, 0.5)), url(img/footer.AVIF);
    box-shadow: rgba(198, 87, 170, 0.8) 2px 2px 30px;
}

#prices h2{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: white;
    font-weight: 700;
    font-size: 28px;
}

#prices h3{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: white;
    font-weight: 700;
    font-size: 24px;
}

#prices hr{
    width: 40%;
    margin: 5px auto 5px auto;
}

#services{
    border-collapse: collapse;
    margin: 30px auto 0 auto;
    width: 900px;
    background-color: rgba(255, 255, 255, 0.5);
}

#services td{
    height: 30px;
    font-weight: 900;
    font-size: 20px;
}

#services tr:nth-child(odd){
    background-color: rgba(198, 87, 170, 0.1);
    color: white;
}

#services tr:nth-child(even){
    background-color: rgba(255, 255, 255, 0.7);
    color: rgba(198, 87, 170, 0.7);
}

#services tr td:nth-child(odd){
    text-transform: uppercase;
    padding: 5px 0 5px 15px;
}

#services tr td:nth-child(even){
    text-align: center;
}

@media screen and (max-width:930px){
    #services{
        width: 600px;
    }
}

@media screen and (max-width:630px){
    #services{
        width: 400px;
    }
}

@media screen and (max-width:430px){
    #services{
        width: 300px;
    }
}

@media screen and (max-width:330px){
    #prices h2{
        font-size: 20px;
    }

    #prices h3{
        font-size: 15px;
    }

    #services{
        width: 250px;
    }
}

/* CONTACT */
#contact{
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 80px 0 50px 0;
    color: rgba(198, 87, 170, 0.7);
}

#contact table{
    margin: auto;
}

#contact h2, #contact h3, #contact p{
    margin: 0;
    padding: 0;
}

#get_in_touch{
    text-align: justify;
    background-color: white;
    padding: 55px;
    display: inline-block;

}

#get_in_touch h2{
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: rgb(194, 114, 150);
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 28px;
}

#contact_card{
    color: white;
    background-image: linear-gradient(to bottom, rgba(198, 87, 170, 0.5), rgba(198, 87, 170, 0.5)), url(img/footer.AVIF);
    padding: 25px;
    position: relative;
    top: -20px;
    right: 10px;
}

#contact_card h3{
    font-weight: 400;
    letter-spacing: 0.08em;
    font-size: 20px;
    text-align: center;
}

#contact_card img{
    height: 25px;
    margin-right: 15px;
    top: 8px;
    position: relative;
}

#contact_card p{
    margin: 10px 0;
    letter-spacing: 0.1em;
}

@media screen and (max-width:790px){
    #contact{
        padding: 25px 0;
    }

    #get_in_touch{
        display: block;
        width: 250px;
        padding: 45px;
    }

    #contact_card{
        display: block;
        top: 0;
        left: 0;
        width: 250px;
        padding: 45px;
    }
}

@media screen and (max-width:520px){
    #get_in_touch{
        width: 200px;
        padding: 30px;
    }

    #contact_card{
        width: 200px;
        padding: 30px;
    }

    #contact_card h3{
        font-size: 16px;
    }
}
/* FOOTER */

.footer{
    background-image: url(img/lily_logo.png), linear-gradient(to bottom, rgba(198, 87, 170, 0.5), rgba(198, 87, 170, 0.5)), url(img/footer.AVIF);
    background-repeat: no-repeat;
    background-size: 50px 50px, cover, cover;
    background-position: 30px 25px, 50% 50%, 50% 50%;
    height: 80px;
    padding-top: 25px;
    box-shadow: rgba(198, 87, 170, 0.8) 2px 0px 30px;
    max-width: 100%;
}

.footer nav{
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
}

.footer nav a{
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    color:white;
    margin-right: 10px;
}

.footer nav a:hover{
    color: rgb(255, 159, 202);
}

.footer p{
    color: rgba(255, 255, 255, 0.8);
    font-weight: 200;
    font-size: 14px;
}

.footer nav, .footer p{
    margin-left: 100px;
}

/*FOOTER MOBILE*/

#footer_mobile{
    display: none;
    padding: 20px 0;
}

@media screen and (max-width: 750px){
    #footer{
        display: none;
    }

    #footer_mobile{
        background-position: 25px 50%, 50% 50%, 50% 50%;
        display: block;
        padding-top: 15px;
    }

    #footer_mobile nav a{
        display: block;
        padding: 2px;
    }

    #footer_mobile p{
        float: right;
        margin: 35px 30px 0px 0px;
    }
}

@media screen and (max-width: 500px){
    #footer_mobile{
        background-position: 50% 15px, 50% 50%, 50% 50%;
        background-size: 45px 45px, cover, cover;
        padding: 10px;
    }
    
    #footer_mobile nav{
        display: none;
    }

    #footer_mobile p{
        text-align: center;
        float: none;
        margin: 0;
        margin-top: 55px;
    }
}