@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
}

hr{
    margin: auto;
}

:root{
    --main-bg-cover: rgba(198, 87, 170, 0.3);
    --box-shadow-color: rgba(198, 87, 170, 0.5);
    --invert-bg: rgba(0, 0, 0, 0.05);
    --text-color: rgb(194, 114, 150);
    --hover: rgba(255, 255, 255, 0.8);
}

html, body{
    font-family:'Montserrat', sans-serif;
    scroll-behavior: smooth;
    cursor: default;
}

a, h1, h2, h3, h4{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    width: 10px;
} 
::-webkit-scrollbar-thumb{
    background: var(--main-bg-cover);
}
::-webkit-scrollbar-thumb:hover{
    background: var(--box-shadow-color);
}

/* HEADER */

#header{
    background: linear-gradient(180deg, rgba(198,87,170,0.3) 0%, rgba(198,87,170,0.1) 100%);
    background-size:cover;
    height: 400px;
    box-shadow: var(--box-shadow-color) 0px 2px 30px;
    position: relative;
    color: white;
}

#dark{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#hero_img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
    object-fit: cover;
}

#header nav{
    float: left;
    margin: 25px 0 0 0;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#header #logo{
    float: left;
    margin: -10px 0 0 50px;
    height: 50px;
}

#header nav a{
    display: inline-block;
    margin-left: 25px;
    margin-top: 5px;
    font-weight: 700;
    font-size: 14px;
    color: white;
}

#header nav a:hover{
    color: var(--text-color);
}

#slogen{
    text-align: center;
    padding-top: 180px;
}

#header h1{
    font-size: 50px;
    font-weight: 200;
    letter-spacing: 0.1em;
}

#header hr{
    width: 50%;
    margin: 0 auto 10px auto;
    background-color: white;
}

#kicker{
    font-weight: 400;
    margin: 0 0 40px 0;
    letter-spacing: 0.2em;
    font-size: 20px;
}

/* HEADER MOBILE */

@media screen and (max-width: 743.5px){
    #slogen{
        top: 30%;
    }
}

@media screen and (max-width: 650px){

    #slogen{
        top:35%
    }

    #header h1{
        font-size: 45px;
    }
}

@media screen and (max-width: 530px){
    #header h1{
        font-size: 40px;
    }
    #location{
        font-size: 16px;
    }
    #kicker{
        font-size: 16px;
    }
}

/* ABOUT */

#about_me{
    background-color: var(--invert-bg);
    padding: 50px 0;
}

#about_contain{
    max-width: 1200px;
    margin: auto;
    padding: 0 50px;
}

#about_me table{
    font-weight: 400;
    align-content: center;
    color: var(--text-color);
}

#about_img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-right: 55px;
    margin-top: 20px;
}

#name{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-top: 10px;
    margin-right: 60px;
    font-weight: 400;
    font-size: 18px;
}

#about_me p{
    font-size: 16px;
}

#about_title{
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: var(--text-color);
    font-weight: 700;
    text-align: center;
    font-size: 28px;
}

#about_me hr, #about_me_mobile hr{
    width: 40%;
    height: 2px;
    margin: 10px auto 20px auto;
    color: var(--main-bg-cover);
    background-color: var(--main-bg-cover);
    border: 0;
}

/*ABOUT MOBILE*/

#about_me_mobile{
    background-color: var(--invert-bg);
    margin: auto;
    padding: 50px;
    text-align: center;
    display: none;
    max-width: 100%;
}

#about_title_mobile{
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: var(--text-color);
    font-weight: 700;
    text-align: center;
    font-size: 28px;
}

#about_img_mobile{
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: auto;
}

#name_mobile{
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: var(--text-color);
    font-weight: 400;
    font-size: 20px;
    margin-top: 20px;
}

#about_me_mobile p{
    font-weight: 400;
    margin-top: 40px;
    color: var(--text-color);
    font-size: 20px;
}

@media screen and (max-width: 750px){
    #about_me{
        display: none;
    }

    #about_me_mobile{
        display: block;
    }
}

@media screen and (max-width:520px){
    #about_me_mobile img{
        width: 150px;
    }
}

/* BOWEN */

#bowen{
    background-image: linear-gradient(to bottom, var(--main-bg-cover), var(--main-bg-cover)),url(img/footer.AVIF);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover, cover;
    box-shadow: var(--box-shadow-color) 2px 2px 30px;
    padding: 50px 0 50px 0;
}

#bowen_contain{
    max-width: 900px;
    margin: auto;
    padding: 50px 50px;
}

#bowen table{
    padding: 10px;
    max-width: 900px;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0.7);
    color: var(--text-color);
    margin: auto;
}

#bowen table tr td{
    border: 20px solid rgba(255, 255, 255, 0);
}

#bowen img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

#bowen h2{
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 28px;
}

#bowen h3{
    margin-bottom: 10px;
    font-size: 25px;
}

#bowen hr{
    width: 50%;
    color: white;
    background-color: white;
    margin-bottom: 40px;
}

#bowenList{
    list-style: default;
}


/*BOWEN MOBILE*/

@media screen and (max-width:520px){
    #bowen table{
        padding: 20px 10px;
    }

    #bowen table tr td{
        border: 5px solid rgba(255, 255, 255, 0);
    }

    #bowen img{
        display: none;
    }
}

/*TESTIMONIAL*/

#testimonials{
    background-color: var(--invert-bg);
    margin: auto;
    padding: 50px 0;
    color: white;
    text-align: center;
}

#testimonials h3, #testimonials h2, #testimonials p{
    margin: 0;
    padding: 0;
}

#testimonials h2{
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: var(--text-color);
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 28px;
}

#testimonials hr{
    width: 40%;
    height: 2px;
    margin: 0 auto 10px auto;
    color: var(--main-bg-cover);
    background-color: var(--main-bg-cover);
    border: 0;
}

#testimonials .clients{
    background-image: linear-gradient(to bottom, var(--main-bg-cover), var(--main-bg-cover)), url(img/footer.AVIF);
    background-size: cover;
    display: inline-block;
    width: 300px;
    height: 250px;
    margin: 30px 5px 10px 5px;
    padding: 50px 25px 25px 25px;
}

.clients_contain{
    align-self: center;
}

#testimonials h3{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 24px;
    margin-bottom: 10px;
}

.clients p{
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
}

.quotation{
    height: 20px;
    width: auto;
    float: left;
    opacity: 0.3;
    position: relative;
    left: 25px;
    top: -5px;
}

.quotation2{
    height: 20px;
    width: auto;
    float: right;
    rotate: 180deg;
    opacity: 0.3;
    position: relative;
    top: -15px;
    left: -25px;
}

@media screen and (max-width: 1100px){
    #testimonials .clients{
        display:block;
        margin: auto;
        margin-top: 30px;
    }
}

/* PRICES */
#prices{
    width: 100%;
    padding: 50px 0;
    background-image: linear-gradient(to bottom, var(--main-bg-cover), var(--main-bg-cover)), url(img/footer.AVIF);
    background-size: cover;
    background-attachment: fixed;
    box-shadow: var(--box-shadow-color) 2px 2px 30px;
}

#prices h2{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: white;
    font-weight: 700;
    font-size: 28px;
}

#prices hr{
    width: 40%;
    margin: 5px auto 5px auto;
}

#services{
    border-collapse: collapse;
    margin: 30px auto 0 auto;
    width: 900px;
    background-color: rgba(255, 255, 255, 0.5);
}

#services td{
    height: 30px;
    font-weight: 900;
    font-size: 16px;
}

#services tr:nth-child(odd){
    background-color: rgba(198, 87, 170, 0.1);
    color: white;
}

#services tr:nth-child(even){
    background-color: var(--hover);
    color: var(--box-shadow-color);
}

#services tr td:nth-child(odd){
    text-transform: uppercase;
    padding: 5px 0 5px 15px;
}

#services tr td:nth-child(even){
    text-align: right;
    padding-right: 10px;
}

@media screen and (max-width:930px){
    #services{
        width: 600px;
    }
}

@media screen and (max-width:630px){
    #services{
        width: 400px;
    }
}

@media screen and (max-width:430px){
    #services{
        width: 350px;
    }
}

@media screen and (max-width:350px){
    #prices h2{
        font-size: 20px;
    }

    #prices h3{
        font-size: 15px;
    }

    #services{
        width: 300px;
    }
}

/* CONTACT */
#contact{
    background-color: var(--invert-bg);
    width: 100%;
    padding: 80px 0 50px 0;
    color: var(--text-color);
}

#contact table{
    margin: auto;
}

#contact h2, #contact h3, #contact p{
    margin: 0;
    padding: 0;
}

#get_in_touch{
    text-align: justify;
    background-color: white;
    padding: 55px;
    display: inline-block;

}

#get_in_touch h2{
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: var(--text-color);
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 28px;
}

#contact_card{
    color: white;
    background-image: linear-gradient(to bottom, var(--main-bg-cover), var(--main-bg-cover)), url(img/footer.AVIF);
    background-size: cover;
    padding: 25px;
    position: relative;
    top: -20px;
    right: 10px;
}

#contact_card h3{
    font-weight: 400;
    letter-spacing: 0.08em;
    font-size: 20px;
    text-align: center;
}

#contact_card img{
    height: 25px;
    margin-right: 15px;
    top: 8px;
    position: relative;
}

#contact_card p{
    margin: 10px 0;
    letter-spacing: 0.1em;
}

@media screen and (max-width:790px){
    #contact{
        padding: 25px 0;
    }

    #get_in_touch{
        display: block;
        width: 250px;
        padding: 20px;
    }

    #contact_card{
        display: block;
        top: 0;
        left: 0;
        width: 250px;
        padding: 20px;
        font-size: 13px;
    }
}

@media screen and (max-width:520px){
    #get_in_touch{
        width: 250px;
        padding: 30px;
    }

    #contact_card{
        width: 250px;
        padding: 30px;
    }

    #contact_card h3{
        font-size: 16px;
        font-weight: 900;
        margin-bottom: 5px;
    }

    #contact_card p{
        font-size: 10px;
        font-weight: 900;
    }
}
/* FOOTER */

.footer{
    background-image: linear-gradient(to bottom, var(--main-bg-cover), var(--main-bg-cover)), url(img/footer.AVIF);
    background-size: cover;
    background-attachment: fixed;
    padding: 10px;
    box-shadow: var(--box-shadow-color) 2px 0px 30px;
    max-width: 100%;
}

.footer nav{
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}

.footer nav a{
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    color:white;
    margin-right: 10px;
}

.footer nav a:hover{
    color: var(--hover);
}

.footer p{
    color: var(--hover);
    font-weight: 200;
    font-size: 14px;
}

.footer nav, .footer p{
    margin-left: 100px;
}

/*FOOTER MOBILE*/

#footer_mobile{
    display: none;
    padding: 20px 0;
}

@media screen and (max-width: 750px){
    #footer{
        display: none;
    }

    #footer_mobile{
        background-position: 25px 50%, 50% 50%, 50% 50%;
        display: block;
        padding-top: 15px;
    }

    #footer_mobile p{
        text-align: center;
        margin: 0;

    }
}

@media screen and (max-width: 500px){
    #footer_mobile{
        background-position: 50% 15px, 50% 50%, 50% 50%;
        background-size: 45px 45px, cover, cover;
        height: 50px;
    }
    .footer{
        height: 10px;
    }
}